h1{
    text-align: center;
    color: crimson;
}
div.absoluto{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 3px solid firebrick;
    /* Vamos a centrar nuestro elemento div */ 
}
